-#.row
  -#.col-xs-2
    -#%p 122
  -#.col-xs-10
    -#%p 123
.progressbar-back
  .progress-group
    .progress.progress-striped.active
      #progressbar.progress-bar.paris-progress-bar{role: 'progressbar', 'aria-valueno'=>'60', 'aria-valuemin'=>'0', 'aria-valuemax'=>'100'}
    %img#shield{src: 'http://image.baobeizm.com/parispb/shield.png'}
  .bags-group
    %img#bag-50{src: '#'}
    %img#bag-100{src: '#'}
    %img#bag-150{src: '#'}
    %img#bag-200{src: '#'}
    %img#bag-300{src: '#'}
  .people-group
    -#%img#people-0
    %img#people-100
    %img#people-300
    %img#people-500
    %img#people-800
    %img#people-1000
  %p#count xxxxx

.join-back
  %form#vote-form{action: "#{paris_price_bargain_vote_path}", method: "post"}
    %input#user-name.user-name{type: 'text', name: 'user[name]', placeholder: '真实姓名'}
    %input#user-phone.user-phone{type: 'tel', name: 'user[phone]', placeholder: '手机号码'}
    %input#submitbtn.submit{type: "submit", value: "参与砍价"}

#validate{val: 'yes'}

