-@joiners.each_with_index do |joiner, index|
  %tr
    %td
      -#= index+page_offset
      -if index+page_offset == 1
        %img{src: '/image/fpb/first.png'}
      -if index+page_offset == 2
        %img{src: '/image/fpb/second.png'}
      -if index+page_offset == 3
        %img{src: '/image/fpb/third.png'}
      = index+page_offset if index+page_offset>3
      

    %td= joiner.nickname
    %td= joiner.point
    %td= image_tag(joiner.heading_url, alt: "")
