.point
  %h1#p1= if tp<10000 then tp.to_s.rjust(4,'0')[0] else '9' end
  %h1#p2= if tp<10000 then tp.to_s.rjust(4,'0')[1] else '9' end
  %h1#p3= if tp<10000 then tp.to_s.rjust(4,'0')[2] else '9' end
  %h1#p4= if tp<10000 then tp.to_s.rjust(4,'0')[3] else '9' end
