%tr
  %td
    %p.rule-head 活动时间:
    %p.rule-body 2015/09/13 - 2015/10/05
%tr
  %td
    %p.rule-head 活动规则：
    %p.rule-body 分享活动至朋友圈，邀请好友为您砍价助力，朋友每助力一次即可获得5指数，活动结束后按砍价指数进行排名并获取相应礼品。
%tr
  %td
    %p.rule-head 活动奖品：
    %p.rule-head 第1名
    %p.rule-body 16G Iphone6S一部（因中国大陆版Iphon6S还未上市，可于领奖时间内先领取“兑换凭证”，具体兑奖时间以Iphone6S中国大陆版上市为准。）
    %p.rule-head 第2-11名
    %p.rule-body 获得价值300元的大闸蟹一份
    %p.rule-head 第12-411名
    %p.rule-body 获得10元话费
    %p.rule-head 参与奖
    %p.rule-body 凡是参与微信砍价的网友，均可于10月7日在巴黎春天营销中心参与IPhone6s 0元起拍的活动
%tr
  %td
    %p.rule-head 领奖方式：
    %p.rule-body 1、前11名获奖者请于10月7日前往巴黎春天营销中心领取（仅限武汉网友）
    %p.rule-body 2、10元话费获奖者将直充进手机
%tr
  %td
    %p.rule-head 活动说明：
    %p.rule-body 1、砍价大师活动由搜房网发起
    %p.rule-body 2、本活动由南湖巴黎春天独家冠名

