/*.container{*/
  /*width: 750px;*/
/*}*/
.weixin-container
{
  width: 750px;
  margin: 0 auto;
}

.firstprice-head{
  position: relative;
  width: 750px;
  height: 1186px;
  background: url('/image/fpb/firstpriceback.jpg');
}
.firstprice-head-other{
  position: relative;
  width: 750px;
  height: 1186px;
  background: url('/image/fpb/mainback.jpg');
}

.firstprice-body{
  /*padding: 2%;*/
  width: 750px;
  background: #941A1A;
  /*background: #901919;*/
  .tab-head-back{
    padding: 0px 20px 0px;
    /*background: #941A1A;*/
    /*background: url('/image/fpb/body-head.png');*/
    /*background-repeat: no-repeat;*/
    .custom-nav{
      background: url('/image/fpb/tab1.jpg');
      width: 710px;
      height: 102px;
      .tablink{
        /*background: yellow;*/
        width: 33%;
        height: 100%;
        float: left;
      }
    }
  }
  .tab-body-back{
    background: url('/image/fpb/body-body.png');
    padding: 0px 40px 0px;
  }
}

@media (min-width: 0px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}

/*.current-point{*/
  /*position: absolute;*/
  /*top: 440px;*/
  /*left: 261px; */
  /*color: yellow;*/
  /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
/*}*/

@mixin current-point-num($left-pos) {
  position: absolute;
  top: 515px;
  left: $left-pos; 
  font-size: 1300%;
  color: red;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  /*border: 2px inset white;*/
  font-family: "STHupo";
  font-weight: lighter;
}

.point{
  #p1{
    @include current-point-num(120px);
  }
  #p2{
    @include current-point-num(261px);
  }
  #p3{
    @include current-point-num(402px);
  }
  #p4{
    @include current-point-num(543px);
  }
}

#vote-success-modal{
  /*background: url('/image/fpb/popup.png');*/
  /*width:750px;*/
  /*height:1060px;*/
  .modal-dialog{
    background: transparent;
    .modal-content{
      background: transparent;
      .modal-body{
        width:696px;
        height:1010px;
        background: url('/image/fpb/npopup.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-size: 400%;
        img{
          position: absolute;
          top: 15px;
          width: 204px;
          height: 217px;
          left:246px;
          border-radius: 60px;
        }
        #close-vote-success{
          /*background: yellow;*/
          position: absolute;
          left: 87%;
          width: 11%;
          top: 10%;
          height: 8%;
          border-radius: 50%;
        }
        #vote-success-link{
          /*background: yellow;*/
          position: absolute;
          left:20%;
          width: 64%;
          top: 61%;
          height: 8.9%;
        }
      }
    }
  }
}

#joinModal{
  .modal-dialog {
    background: transparent;
    .modal-content 
    {
      /*background: yellow;*/
      background: transparent;
      .modal-body{
        /*position: relative;*/
        /*text-align: center;*/
        width:672px;
        height:1004px;
        background: url('/image/fpb/join.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        font-size: 400%;
        #close-join{
          /*background: yellow;*/
          position: absolute;
          left: 87%;
          width: 11%;
          top: 10%;
          height: 8%;
          border-radius: 50%;
        }
        img{
          position: absolute;
          left:237px;
          width: 197px;
          top: 12px;
          height: 217px;
          border-radius: 60px;
        }
        form{
          /*position: absolute;*/
          input.user-name{
            font-size: 40px;
            display: block;
            position: absolute;
            top: 340px;
            left: 220px;
            width: 300px;
            border-style: inset
          }
          input.user-phone{
            font-size: 40px;
            display: block;
            position: absolute;
            top: 485px;
            left: 220px;
            width: 300px;
            border-style: inset
          }
          input.submit{
            display: block;
            position: absolute;
            border: none;
            top: 588px;
            left: 130px;
            width: 400px;
            height: 110px;
            background: url('/image/fpb/btnsubmitup.png');
            background-size: 100% 100%;
            background-repeat: no-repeat;
          }
        }
        #close-vote-success{
          /*background: yellow;*/
          position: absolute;
          left: 87%;
          width: 11%;
          top: 10%;
          height: 8%;
          border-radius: 50%;
        }
        #vote-success-link{
          /*background: yellow;*/
          position: absolute;
          left:15%;
          width: 68%;
          top: 66%;
          height: 8.9%;
        }
      }
    }
  }
}

.rank-back{
  position: absolute;
  top: 730px;
  left: 200px;
}

.myrank{
  position: absolute;
  top: 760px;
  left: 268px;
  font-size: 30px;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@mixin home-btn($left-pos)
{
  img{
    width: 220px;
    position: absolute;
    top: 855px;
    left: $left-pos;
  }
  h2{
    position: absolute;
    top: 870px;
    font-size: 200%;
    color: yellow;
    left: $left-pos+50px;
  }
}

.home-left-btn
{
  @include home-btn(120px);
}
.home-right-btn
{
  @include home-btn(420px);
}
.home-middle-btn
{
  @include home-btn(270px);
}


.table{
  margin: 0 auto;
  background-color: #CA2323;
  table-layout: fixed;
  word-wrap: break-word;
  thead, tbody{
    tr{
      th,td{
        background-color: #CA2323;
        color: #FCF24E;
        font-size: 200%;
        text-align: center;
        border: none;
      }
      td{
        vertical-align: middle;
        &:nth-child(1)
        {
          font-size: 400%;
        }
        p.rule-head{
          font-size: 40px;
          text-align: left;
        }
        p.rule-body{
          font-size: 25px;
          color: white;
          text-align: left;
        }
      }
    }
  }
  tbody
  {
    tr{
      height: 124px;
      td img{
        height: 120px;
        /*border-radius: 20%;*/
        /*border:5px outset #E9CB63;*/
      }
    }
  }
}

.table-striped
{
  tbody{
    tr{
      &:nth-child(odd){
        td{
          background-color: #B72020;
        }
      }
    }
  }
}

.joiners-pagination, .voters-pagination{
  margin: 0px;
}

